body{
    background-color: #ffffff;
    font-size:16px;
}

/* Start the Login Style*/
.logo-sign-up{
    width:150px;
    padding-top:10px;
    padding-bottom: 50px;
}

/* End the Login Style*/


/*Start Bootstrap edits*/
.logo{
    width: 2.4em;
    margin-right: 50px;
}

.navbar{
    border-radius:0 !important;
}

.navbar-nav{
    margin-top:0px;
    margin-bottom: 0px;
}

.nav-link{
    margin-right: 50px;
}

.nav-link:hover{
    color: #f75959 !important;
}

.dropdown-menu{
    border: none !important;
}
/*End Bootstrap edits*/