body{
    background-color: #F4F4F4;
    font-size:16px;
}
/*Start Login form*/
.login{
    width: 300px;
    margin : 100px auto ;
}
.login h2 {
    color : #888;
}
.login input {
    margin-bottom: 10px;
}
.login .form-control {
    background-color: #EAEAEA;
}
.login .btn {
    background-color: #008dde;
}
/*End Login form*/

/*Start Bootstrap edits*/
.navbar{
    border-radius:0 !important;
}

.navbar-inverse{
    border-radius:0 !important;
}

.nav> li >a,
.navbar-brand{
    padding: 15px 12px;
}

.navbar-brand{
    font-size: 1em;
}

.navbar-inverse .navbar-nav>.open> a,
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #8d24f0;
    transition-duration: 0.2s;
}

.dropdown-menu{
    background-color: #e4e4e4;
}

.dropdown-menu >li > a{
    padding: 10px 15px;
}

.dropdown-menu >li > a:focus,
.dropdown-menu >li > a:hover{
    background-color: rgb(204, 204, 204);
}
/*End Bootstrap edits*/